<div class="cont">

  <!-- Header -->
  <mat-toolbar class="header">
    <span class="title" routerLink="convert" routerLinkActive="active">
      <img src="../assets/images/Group 5.svg" alt="">
    </span>
    <div class="options">
      <span routerLink="convert" routerLinkActive="active">CONVERTER</span>
      <span routerLink="/cassini" routerLinkActive="active">CASSINI</span>
      <span routerLink="/map-viewer" routerLinkActive="active">MAP VIEWER</span>
      <span routerLink="/about" routerLinkActive="active">ABOUT</span>
    </div>
  </mat-toolbar>


  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <!-- footer -->
  <mat-toolbar class="footer">
    <span> Final year project [ESSQ-00332-2017] The Technical University of Kenya &copy; {{year}}</span>
  </mat-toolbar>
</div>



