.maincontainer {
  margin-right: auto;
}

.itab{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;

}
.flex-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
}

.formfieldbox{
  display: flex;
  align-items: center;
}

.example-full-width {
  max-width: calc((40vw/3) - 12px);
  margin-right: 6px;
}

.latlongheigth {
  display: flex;
}

.ellipsoideselect {
  width: 40vw;
  margin-top: 20px;
}

.titlehead {
  width: fit-content;
  /* padding: 8px; */
  margin: 2px auto;
  border-bottom: 2px solid rgb(30, 29, 29);
}

.sectTitle {
  /* font-family: Megrim; */
  font-size: small;
  font-weight: 400;
  color: rgb(27, 26, 26);
  border-bottom: 1px solid gray;
}
.addPointBtn{
  align-self: center;
}

.form {
  width: 40vw;
}


.datatable{
  width: 40vw;
  margin-top: 16px;
  /* margin: auto; */
}

.btn {
  background-color: goldenrod;
  margin-right: 10px;
}

.uploader {
  width: 40vw;
}

